@import "normalize.css";
@import "header.css";
@import "sidebar.css";
@import "footer.css";

html{ 
    font-size: 62.5%; /** RESET para REMS - 62-5% = 10 px de 16 px **/
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem; 
    line-height: 1;
}


/** globals **/
img {
    max-width: 100%;
}
.wrapper {
    max-width: 100%;
    margin: 0 auto;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(50px, 1fr));
    grid-template-areas: 
    "header header header header"
    "image image image image"
    "sidebar content content ."
    "footer footer footer footer";
    background-color: #f8f7f7;
}


h2 {
font-size: 4.6rem;
margin: 0;
}

h3 {
font-size: 4.2rem;
margin: 0;
}

h4 { 
font-size: 3rem;
margin: 0;

}

/** utilities **/

.section {
    margin-top: 4rem;
    margin-bottom: 4rem;
}
.fw-300 {
    font-weight: 300;
}
.center-text {
    text-align: left;
}
.justify-text {
    text-align: left;
}

.d-block{
    display: block!important;
}

.content-center{
    max-width: 800px;
}

