/*first media query*/

@media only screen and (min-width: 460px) and (max-width: 675px) {
/* 
header
*/
    .mainheader {
        display: block;
    }
    h2 .header-logo{
        grid-area: header;
    }

    .navigation {
        display: none;
    }

    .mediawrapper {
        display: none;
    }


    .ham-icon {
        display: block;
        width: 50px;
        height: 50px;
    }

/*image*/

    .image {
        display: none;
    }

/*main*/

    .content{ 
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        grid-area: content;
        padding: 50px;
        line-height: 1.5;
    }

    .content-blog {
        width: 120%;
    }
    .justify-text {
        text-align: justify;
    }

    .universepic {
        width: 220px;
        height: 220px;
    }

    .card {
        width: 130%;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        border-radius: 10px; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 100px;
        padding: 20px;
        background-color: #ffffff
    }

    .art-inf {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }

    .thinker {
        display: flex;
        flex-direction: column;
    }

    blockquote {
        padding-top: 30px;
        margin-left: 0px;
    }
/*sidebar*/

    .sidebar {
        grid-area: footer;
    }

    #description {
        width: 380px;
        text-align: justify;
        margin: 250px 40px;
    }
/*footer*/
    
    .footerbox {
        display: none;
    }

    #footnav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 20px;
    }
    

    .wrapper {
        display: grid;
        width: 100%;
        margin: auto auto;
        grid-template-areas: 
        "header"
        "content"
        "footer";
    }
}

/*second media query*/

@media only screen and (min-width: 676px) and (max-width: 800px) {

/* header*/
    
    .mainheader {
        grid-area: header;
        display: block;

    }

    .ham-icon {
        display: none;
    }

    .navwrapper {
        display: block;
        justify-content: start;
        margin-right: 100px;
    }

    .mediawrapper {
        display: inline-flex;
        padding-left: 0;
    }

    .navigation {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    li {
        margin: 0 5px;
    }

/*image*/

    .image {
        display: none;
    }

/*main*/    
    .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: content;
    padding: 50px;
    line-height: 1.5;
}
    .content-blog {
    width: 100%;
    box-shadow: none;
}

.art-inf {
    margin-left: 50px;
}
/*sidebar*/    

    .sidebar {
        grid-area: footer;
    }

    #description {
        width: 600px;
        text-align: center;
        margin: 280px 80px;
    }
/*footer*/

    .footerbox{
    grid-area: footer;
    width: 800px;
    height: 200px;
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 5px;
    font-family: 'Bebas neue', cursive;
    align-content: center;
    }

    .boxwrapper {
        display: flex;
        flex-direction: column;
        justify-content: start;
    }
    
    .box1 {
    list-style: none;
    display: grid;
    grid-column: 1 / 2;
    grid-template-columns: subgrid;
    padding: 0%;
    margin-top: 10px;
     }
     
     .box2 {
    list-style: none;
    display: grid;
    grid-column: 1 / 2;
    grid-template-columns: subgrid;
    padding: 0%;
    margin-top: 10px;
    margin-left: 150px;
    }
    
    .box3 {
    display: none;
    }
 
    .box4 {
    display: none;
    }

    .head2 {
        margin-left: 150px;
    }

    .head3 {
        display: none;
    }
    
    .head4 {
        display: none;
    }

    #footnav {
        display:none;
    }

    .wrapper {
        display: grid;
        width: 100%;
        margin: auto auto;
        grid-template-columns: minmax(200px, 700px);
        grid-template-areas: 
        "header"
        "content"
        "footer";
    }
}


